body {
	margin: 0;
	padding: 0;
	font: 24px 'Roboto', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background: #ddc79c;
}

/* d4b67c */

.frame {
	height: 500px;
	width: 500px;
	min-width: 500px;
	border: 5px solid #000;
	position: relative;
}

.snakeParts {
	width: 50px;
	height: 50px;
	background: #000;
	border-radius: 10px;
	position: absolute;
	top: 0;
	left: 0;
}

.head {
	background: #000;
}

.apple {
	width: 50px;
	height: 50px;
	background: #24632a;
	border-radius: 10px;
	position: absolute;
	top: 0;
	left: 0;
}

.btns {
	display: none;
	justify-content: center;
	margin-top: 15px;
}

.btn-hor {
	background: url('img/hor-arrow.png') no-repeat center / cover;
	height: 137px;
	width: 81px;
}

.btn-ver {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.btn-ver div {
	background: url('img/ver-arrow.png') no-repeat center / cover;
	height: 66px;
	width: 125px;
}

.btn-down div {
       transform: rotate(180deg);
}

.btn-right {
	transform: rotate(180deg);
}

.start {
	font-size: 64px;
	color: #fff;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(0,0,0,0.8);
	user-select: none;
	cursor: pointer;
}

@media screen and (max-width: 1120px){
	.btns {
		display: flex;
	}
}
